<div class="progress-form" id="progress">



    <h1>Here is your progress!</h1>
    
    <div class="miles">
        <h2>Miles So Far</h2>
        <li>Run Progress: {{progress.runProgress}}</li>
        <li>Walk Progress: {{progress.walkProgress}}</li>
        <li>Bike Progress: {{progress.bikeProgress}}</li>
    </div>
    
    <div class="goals">
        <h2>Weekly Goal</h2>
        <li>Run Progress: {{goals.run}}</li>
        <li>Walk Progress: {{goals.walk}}</li>
        <li>Bike Progress: {{goals.bike}}</li>
    </div>



</div>


<div class="activity-form" id="activityform">

    <div class="user" id="newuser">

        <button class="btn1" onclick="document.location.replace('/milesentry/');">Enter Activity</button><br>
        <button class="btn1" onclick="document.location.replace('/goals/');">Enter Goals</button>

    </div>

</div>

<script src="/javascript/activity.js"></script>