<div class="progress-form" id="progress">

    <h1>Here is your progress!</h1>
    
    <div class="miles">
        <h2>Miles So Far</h2>
        <li>Run Progress: {{progress.runProgress}}</li>
        <li>Walk Progress: {{progress.walkProgress}}</li>
        <li>Bike Progress: {{progress.bikeProgress}}</li>
    </div>

    <div class="container">
        <div class="progress-bar"></div>
    </div>
    </div>
    
    <div class="goals">
        <h2>Weekly Goals</h2>
        <li>Run Goal: {{goals.run}}</li>
        <li>Walk Goal: {{goals.walk}}</li>
        <li>Bike Goal: {{goals.bike}}</li>
    </div>

</div>

<div class="activity-form" id="activityform">

    <div class="user" id="newuser">

        <button class="btn1" id='progressenter'>Enter Activity</button><br>
        <button class="btn1" id='goalsenter'>Enter Goals</button>

    </div>

</div>

<script src="/javascript/activity.js"></script>
